.best {
	background: url(../img/bg/we-best.jpg) center center no-repeat;
	background-size: cover;	
	text-align: center;	
	align-items: center;		
}

.best-list {
	display: flex;
	align-content: space-between;

	@include phones{
		flex-direction: column;
	}
					
}

.best__item {
	display: flex;
	flex-direction: column;
	width: 33%;

	@include phones {
		display: flex;
		flex-direction: row;
		width: 90%;
		margin-top: 50px;
	
	}
}

.best__icon-pic {
	width:6.25rem;
	height:5.625rem;

	@include phones {
		width: 7.25rem;
		height: 6.625rem;
	}
}

.best__icon-pic-meat {
	fill: #e25028;
}

.best__icon-pic-natural{
	fill: #8ac03e;
}

.best__icon-pic-hand {
	fill: #f8b43a;
}

.best__content {
	text-align: center;
	margin-top: 20px;
	
	@include phones {
	text-align: left;
	margin-left: 20px;
	}
	
}

.best__title {
	font-size: 1.5rem;
	font-family: Lifehack, sans-serif;
	color: $black;
}


.best__about {
	margin-top: 0.625rem;
	color: $black;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}