.burger-section {
	background: url(../img/bg/screen1.jpg) center center no-repeat;
	background-size: cover;
}


.burger-section .container {
 justify-content: space-between;
}

.header {
	display: flex;
	margin: 0.3125rem 0;
	height: 5.625rem;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.logo__pic {
	width: 5.625rem;
	height: 4.6875rem;
}


.nav {
	display: flex;
	flex-direction: row;
	text-transform: uppercase;

}


.nav-list {
	display: flex;

	@include tablets() {
		display: none;
	}
}

.nav__item {
	display: flex;
	align-items: center;
	margin-right:0.8125rem;
	font-size: 0.8125rem;
	font-family: Ubuntu Medium, sans-serif;
	position: relative;
}

.nav__item:after {
	content: "";
	width: 0.25rem;
	height: 0.25rem;
	background-color: #fff;
	border-radius: 50%;
}

.nav__item:last-child:after {
	content: "";
	width: 0;
	height: 0;
}

.nav__link {
	padding-right: 0.9375rem;
}



.overlay-logo {
	z-index: 20000;
}

.overlay-nav-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 200px;
	left:45%;
	z-index: 20000;
}


.overlay-nav__item{
	display: flex;
	align-items: center;
	margin-right:0.8125rem;
	position: relative;

}

.overlay-nav__item:after{
	content: "";
	width: 0.25rem;
	height: 0.25rem;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 100%;
	left:50%;
}


.overlay-nav__link{
	padding: 20px 0;
	font-size: 24px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-style: normal;
}

.overlay-nav__item:last-child:after {
	content: "";
	width: 0;
	height: 0;
}


.btn_container {
	display: flex;
	align-items: center;
}

.hamburger-menu-link {
	vertical-align: middle;
	position: relative;
	height: 1.375rem;
	align-items: center;
	margin-left: 1.875rem;
	margin-top: 3%;
	display: none;

	@include tablets {
		display: flex;
	}
}

.hamburger-menu-link__bars {
	&, &:before, &:after {
		background: #fff;
		width: 1.5rem;
		height: 0.3125rem;
		border-radius: 0.1875rem;
		}

		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}
}






.burger-section__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	@include tablets {
		flex-direction: column;
	}
}

.burger__pic {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;

	@include tablets {
		width: 80%;
		text-align: center;
	}
}

.burger__pic-img {
	display: inline-block;
	position: relative;
	max-width: 100%;
	max-height: 100%;

	@include tablets {
		
	}
}

.burger__desc{
	width:50%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 3.75rem;
	text-align: center;


	@include tablets {
		width: 80%;
		text-align: center;
		padding-left: 2.25rem;
		padding-right: 2.25rem;
	}

	@include phones {
		font-size: 3.9375rem;
	}
}




.section-title-add {
	font-family: Lifehack, sans-serif;
	font-size: 4.0625rem;
	text-transform: lowercase;
	color: #fff;
	text-align: center;

	@include phones {
		font-size: 3.375rem;
	}

}

.arrow {
	height: 5.625rem;
	text-align: center;
	padding-top: 1.25rem;
}