.points {
	position: fixed;
	top: 5rem;
	right: 2.3125rem; 
	list-style: none;


}

.points-list {
	position: relative;
}

.points__item {
	margin: 0.07rem;
}

.points__link {
		position: relative;
		display: inline-block;
		width: 0.375rem;
		height: 0.375rem;
		background-color: #fff;
        border-radius: 50%;
    }

.points__item .active:before {
			content: "";
    		display: block;
    		background-color: transparent;
     		width: 1rem;
			height: 1rem;
    		border: 0.0625rem solid #fff;
    		border-radius: 50%;
    		position: absolute;
 			transform: translate(-35%, -35%);

    	}



