.slider-section {
	background-color: $yellow;
	align-items: center;
	display: flex;
	flex-direction: row;
}

.arrow-contain{
	height: 100%;
	width: 5%;
	position: relative;
}

.arrow-left {
	display: block;
	width: 3.125rem;
	height: 3.125rem;
	position: absolute;
	top: 50%;
	left: 0;
	background: url(../img/icons/arrow-scroll.svg) center center no-repeat;
	transform: rotate(90deg);
}

.arrow-right {
	display: block;
	width: 3.125rem;
	height: 3.125rem;
	position: absolute;
	top: 50%;
	right: 0;
	background: url(../img/icons/arrow-scroll.svg) center center no-repeat;
	transform: rotate(-90deg);
}

.slider-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	position: relative;
    width: 84%;
    margin: 0px auto;
    overflow: hidden;
  	
}

.slider {
	display: flex;
	position: relative;
	will-change: right;
	transition: right 0.3s;
}

.slider-item{
	width: 60rem;
	display: flex;
	}

.slider-pic {
	display: flex;
	width:50%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.slider-pic__img {
	max-width: 100%;
	max-height: 100%;
}

.ingredients{
	position: absolute;
	width: 5.625rem;
	height: 5.625rem;
	top: 0;
	left: 0;
	background: url(../img/icons/burger.svg) center center no-repeat;
	background-color: $redred;
	border-radius: 10px;
}

.ingr-title {
	bottom: 0;
	left: 25%;
	position: absolute;
	font-family: Gagalin, sans-serif
}

.kkal {
	position: absolute;
	width: 5.625rem;
	height: 5.625rem;
	left: 0;
	bottom: 0;
	background: url(../img/icons/kkal.svg) top center no-repeat;
	
}

.kkal-text {	
	font-family: Gagalin, sans-serif;
	word-wrap: break-word;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 35px;
}




.slider-content {
	width:50%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}



.slider__order {
	font-size: 4.5rem;
	font-family: Gagalin, sans-serif;
	text-transform: uppercase;
	color: $redred;
	


}

.price-val {
	font-size: 1.875rem;
}


.slider-section .btn {
	vertical-align: middle;
	margin: 1.25rem;
}