.slider-section {
	background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
	background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
	background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
	align-items: center;
	display: flex;
	flex-direction: row;
	position: relative;
}

.slider {
	width: 940px;
	height: 37.5rem;
  	overflow: hidden;
    display: flex;
    flex-direction: row;
  	will-change: right;
	transition: right 0.3s;
	margin: 0 auto;
	position: relative;

		@include tablets {
			max-width: 768px
		}
}

.arrow-left {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 0;
	background: url(../img/icons/arrow-scroll.svg) center center no-repeat;
	transform: rotate(90deg);
}

.arrow-right {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	right: 0;
	background: url(../img/icons/arrow-scroll.svg) center center no-repeat;
	transform: rotate(-90deg);
}

.slider-list{
	display: flex;
    flex-direction: row;
    position: relative;
  	list-style: none;
 	
	height: 100%;
	
}

.slider-item{
	width: 58.75rem;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: 50px;
 	padding-right: 50px;

	@include tablets {
		flex-direction: column;

	}
}

.slider-pic {
	display: flex;
	width: 50%;
	height: 29.6875rem;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-right: 30px;

	@include tablets {
		margin: 0;
		width: 70%;
	}
}

.slider-pic__img {
	width: 28.125rem;
	max-width: 100%;
}

.ingredients{
	position: absolute;
	width: 5.625rem;
	height: 5.625rem;
	top: 0;
	left: 0;
	background: url(../img/icons/burger.svg) center center no-repeat;
	background-color: #f08c33;
	border-radius: 0.625rem;
	cursor: pointer;
}





.ingr-title {
	bottom: 0.3125rem;
	left: 25%;
	position: absolute;
	font-family: Gagalin, sans-serif
}

.kkal {
	position: absolute;
	width: 60px;
	height: 80px;
	left: 0;
	bottom: 0;
	background: url(../img/icons/kkal.svg) top center no-repeat;

	@include tablets {
		top:0;
		right: 0;
		left: 30rem;
	}
	
}

.kkal-text {	
	font-family: Gagalin, sans-serif;
	word-wrap: break-word;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 40px;
}




.slider-content {
	width:50%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 auto;


	@include tablets {
		width: 70%;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
}

.slider-content .section-title{
	@include tablets {
		text-align: center;

	}
}

.slider__text {
	@include tablets {
		width: 100%;

	}
}

.slider__order {
	font-size: 4.5rem;
	font-family: Gagalin, sans-serif;
	text-transform: uppercase;
	color: $redred;

	@include tablets {
		width: 100%;
	}
}

.price-val {
	font-size: 1.875rem;
}


.slider-section .btn {
	vertical-align: middle;
	margin: 1.25rem;

}


.ingr-modal {
	position: absolute;
	top: 0;
	left: 5.625rem;
	width: 270px;
	background-color: #fff;
	border-radius: 5px;
 	padding: 20px;
	color: $black;
	opacity: 0;
	transition: 1s;
}

.ingr__item {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	align-items: center;

	}

.ingr__text {
		text-align: left;
		font-family: 'Ubuntu',sans-serif;
		font-weight: 500;
	}