.slider-section {
	background-color: $yellow;
	align-items: center;
	display: flex;
	flex-direction: row;
	position: relative;
}

.slider {
	width: 940px;
	height: 37.5rem;
  	overflow: hidden;
    display: flex;
    flex-direction: row;
  	will-change: right;
	transition: right 0.3s;

		@include tablets {
			max-width: 768px
		}
}

.arrow-left {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 0;
	background: url(../img/icons/arrow-scroll.svg) center center no-repeat;
	transform: rotate(90deg);
}

.arrow-right {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	right: 0;
	background: url(../img/icons/arrow-scroll.svg) center center no-repeat;
	transform: rotate(-90deg);
}

.slider-list{
	display: flex;
    flex-direction: row;
    position: relative;
  	list-style: none;
 	
	height: 100%;
	
}

.slider-item{
	width: 940px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: 50px;
 	padding-right: 50px;

	@include tablets {
		flex-direction: column;
	}
}

.slider-pic {
	display: flex;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.slider-pic__img {
	width: 22.5rem;
	height: auto;
}

.ingredients{
	position: absolute;
	width: 5.625rem;
	height: 5.625rem;
	top: 0;
	left: 0;
	background: url(../img/icons/burger.svg) center center no-repeat;
	background-color: $redred;
	border-radius: 0.625rem;
}

.ingr-title {
	bottom: 0;
	left: 25%;
	position: absolute;
	font-family: Gagalin, sans-serif
}

.kkal {
	position: absolute;
	width: 5.625rem;
	height: 5.625rem;
	left: 0;
	bottom: 0;
	background: url(../img/icons/kkal.svg) top center no-repeat;
	
}

.kkal-text {	
	font-family: Gagalin, sans-serif;
	word-wrap: break-word;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 2.1875rem;
}




.slider-content {
	width:50%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}



.slider__order {
	font-size: 4.5rem;
	font-family: Gagalin, sans-serif;
	text-transform: uppercase;
	color: $redred;
	


}

.price-val {
	font-size: 1.875rem;
}


.slider-section .btn {
	vertical-align: middle;
	margin: 1.25rem;
}