.team_section{
	background: url(img/team_bg.jpg) no-repeat;
	background-size: cover;
	height: 100%; 
	display: flex;
	justify-content: flex-end;
	color: #fff;
}


.team_content{
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: #2f3234;
	opacity: 0.9;
	height: 100%;
}

.team-acc__list{
	list-style: none;
}

.team-acc__item {
	padding-left: 40px;
}


.team-acc__trigger {
	font-family: Gagalin, sans-serif;
	font-size: 14px;

}

.team-acc__content {
	height: 0;
	overflow: hidden;
}

.team_position {
	font-family: Ubuntu Bold, sans-serif;
	font-size: 14px;
}

.team-acc__item--selected {

	.team-acc__trigger{
	color: $yellow;
	}

	.team_accordeon_item_content {
	height: 140px;
	}
}