.team-section{
	background: url(../img/bg/team_bg.jpg) center center no-repeat;
 	background-size: cover;
	position: relative;
}


.team-content{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	display: flex;
	background: rgba($black, .93);
	justify-content: center;
	align-items: center;
	
	@include tablets {
		left: 0;
		width: 100%;
		}
}

.team-acc__container {
	flex-direction: column;
	width: 70%;

}

.team-acc {
	display: flex;
	flex-direction: column;
	
}

.team-acc__item {
	margin-bottom:  2.1875rem;
	display: flex;
	flex-direction: column;
		
		@include tablets {
		align-items: center;
	}


}

.team-acc__content {
	height: 0;
	transition: height 0.4s;
	overflow: hidden;
	width: 100%;

	@include tablets {
		flex-direction: column;
		align-items: center;
	}
}

.team-acc__trigger {
	font-family: Gagalin, sans-serif;
	font-size: 0.875rem;
	cursor: pointer;
	white-space: nowrap;
	position: relative;
	padding-left: 1.25rem;

	@include tablets {
		display: inline-block;
	}
}	

.team-acc__trigger:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0.125rem; 
	top: 0.4375rem;
	border: 0.4375rem solid transparent;	
	border-top: 0.4375rem solid $yellow;
}

.team-acc__item.active {

	.team-acc__trigger{
	color: $yellow;
	}

	.team-acc__content {
	min-height: 8.75rem;
	}
	
	.team-acc__trigger:before {
	content: "";
	position: absolute;
	left: 0.125rem; 
	top: 0.125rem;
	border: 0.4375rem solid transparent;	
	border-bottom: 0.4375rem solid $yellow;
}

}
.team-acc__content {
	height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	margin-top: 1.25rem;
}

.team-acc__pic{
	width: 6.25rem;
	height: 6.25rem;
	max-width: 35%;
	overflow:hidden;
	display: flex;
	align-items: center;
	border-radius: 50%;
}

.team-acc__pic-img {
	width: 6.25rem;
	height: 6.25rem;
	
}

.team-acc__text {
	width: 65%;
	padding-left: 1.25rem;
}

.team__position {
	font-family: "Ubuntu Bold", sans-serif;
	padding-bottom: 0.9375rem;
}

.team-acc__desc {
	font-family: "Ubuntu Light", sans-serif;
}
